.slider-card{
    min-height:10rem;
    min-width:25rem;
    max-height: 50rem;
    max-width: 50rem;
    cursor:grab;


    background-color:transparent;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;



    &__img-container{
        margin-top:1.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
		width: 98%;
        height:80%;

		&--img-1{
            // user-select:none;
            // -moz-user-select:none;
            // -webkit-user-select:none;
            // -ms-user-select:none;
            // -webkit-touch-callout:none;
			// cursor: pointer;
			position: relative;
			z-index: 5;
			// pointer-events: none;
            object-fit:cover;
            width:100%;
            // height:100%;
            border-radius:10px;
        }

		&--img-2{
			//user-select:none;
			//-moz-user-select:none;
			//-webkit-user-select:none;
			//-ms-user-select:none;
			//-webkit-touch-callout:none;
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
}
    }

    &__title{
        text-align:center;
        font-size:2rem;
        margin: 1rem 0;

        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;    
        }


    &__name{
        text-align:center;
        font-size:1.3rem;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}

