.slider-card{
    cursor:grab;
    background-color:transparent;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:65vh;


    &__img-container{
        margin-top:1.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:45%;
		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;
            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:2rem;
        margin: 1rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.3rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}




@media screen and (max-width:20em){
    .slider-card{
    cursor:grab;
    background-color:transparent;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:55vh;


    &__img-container{
        margin-top:1.5rem;
        padding-top:2.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:95%;
        // height:95%;

		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}
}
@media screen and (max-width:22.5em){
    .slider-card{
    cursor:grab;
    background-color:transparent;

    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:55vh;


    &__img-container{
        margin-top:1.5rem;
        padding-top:2.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:95%;
        // height:95%;

		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}
}


@media screen and (max-width:28.75em){
    .slider-card{
    cursor:grab;
    background-color:transparent;
    // background-color:green;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:55vh;


    &__img-container{
        margin-top:1.5rem;
        padding-top:2.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:95%;
        // height:95%;

		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}
}
@media screen and (max-width:35.3125em){
    .slider-card{
    cursor:grab;
    background-color:transparent;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:65vh;


    &__img-container{
        margin-top:1.5rem;
        padding-top:2.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:95%;
        // height:95%;

		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}
}

@media screen and (max-width:37.5em){
    .slider-card{
    cursor:grab;
    background-color:transparent;

    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:55vh;


    &__img-container{
        margin-top:1.5rem;
        padding-top:2.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:95%;
        // height:95%;

		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}

}



@media screen and (max-width:50em){
    .slider-card{
    cursor:grab;
    background-color:transparent;

    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:65vh;


    &__img-container{
        margin-top:1.5rem;
        padding-top:2.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:55%;
        // height:95%;

		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}
}
@media screen and (max-width:56.25em){
    .slider-card{
    cursor:grab;
    background-color:transparent;

    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:65vh;


    &__img-container{
        margin-top:1rem;
        padding-top:.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:65%;
        // height:95%;

		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}
}
@media screen and (max-width:75em){
    .slider-card{
    cursor:grab;
    background-color:transparent;

    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    // height:50vh;


    &__img-container{
        margin-top:1rem;
        padding-top:.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:50% !important;
        // height:95%;
		&--img-1{
			position: relative;
			z-index: 5;
            object-fit:contain;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: 10%;
			left:25%;
			transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			object-fit:cover;
			width:60%;
			filter: blur(24px);
			z-index: 1;
			-webkit-filter: blur(24px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-50%);
        }
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: sticky;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}
}

@media screen and (min-width:75.0001em){
    .slider-card{
        margin-bottom:.5rem;
    cursor:grab;
    background-color:transparent;

    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:70vh !important;


    &__img-container{
        margin-top:1rem;
        padding-top:.5rem;
        // pointer-events: none;
        cursor:grab;
		position: relative;
        width:70% !important;
        height:85% !important;
		&--img-1{
			position: relative;
			z-index: 5;

            object-fit:cover;
            width:100%;
            height:100%;

            border-radius:10px;
        }

		&--img-2{
			pointer-events: none;
			position: absolute;
			top: -5% !important;
			left:20%;
			transform:rotateZ(180deg) scale(1.05) translateY(-95%);
			object-fit:cover;
			width:70%;
			height:50%;
			filter: blur(23px);
			z-index: 1;
			-webkit-filter: blur(23px);
			-webkit-transform:rotateZ(180deg) scale(1.05) translateY(-95%);
			-moz-transform:rotateZ(180deg) scale(1.05) translateY(-95%);
			-ms-transform:rotateZ(180deg) scale(1.05) translateY(-95%);
			-o-transform:rotateZ(180deg) scale(1.05) translateY(-95%);
}
    }

    &__title{
        text-align:center;
        font-size:1.2rem;
        margin: .5rem 0; 
        position: relative; 

        z-index:10;
    }


    &__name{
        text-align:center;
        font-size:1.2rem;
        position: relative;
        z-index:10;
        // -webkit-touch-callout: none;
        //   -webkit-user-select: none;
        //    -khtml-user-select: none;
        //      -moz-user-select: none;
        //       -ms-user-select: none;
        //           user-select: none;  
    }
	
}
}