.sidebar-item{
    width:100%;
    height:3.5rem;
    position:relative;
    background-color:transparent;
    display:flex;
    align-items:center;

    margin:0 0 2rem 0;
    padding:0 0 0 1rem;
    overflow:hidden;
    z-index:5;
    h3{
        font-size:2rem;
        color:#DFE8FF;
    }

    svg{
        margin:0 1rem 0 1rem;
    }

    &::after{
        content:"";
        width:0%;
        height:4px;
        position:absolute;
        bottom:0;
        transform-origin:left;
        background-color:var(--dark1);
        transition:width .3s ease-in;
        z-index:-2;
        border-radius:8px;
    }

    &:hover::after{
        width:65%;

    }
    

}


@media screen and (max-width:51.875em) {
    .sidebar-item{
        width:100%;
        height:3.5rem;
        position:relative;
        background-color:transparent;
        display:flex;
        align-items:center;

        margin:0 0 2rem 0;
        padding:0 0 0 1rem;
        overflow:hidden;
        z-index:5;
        h3{
            font-size:1.8rem;
            color:#DFE8FF;
        }

        svg{
            margin:0 1rem 0 1rem;
        }

        &::after{
            content:"";
            width:0%;
            height:5px;
            position:absolute;
            bottom:0;
            transform-origin:left;
            background-color:var(--dark1);
            transition:width .3s ease-in;
            z-index:-2;
            border-radius:8px;
        }

        &:hover::after{
            width:55%;

        }
        

    }
}
@media screen and (max-width:48.125em) {
    .sidebar-item{
        width:100%;
        height:3.5rem;
        position:relative;
        background-color:transparent;
        display:flex;
        align-items:center;

        margin:0 0 1rem 0;
        padding:0 0 0 .5rem;
        overflow:hidden;
        z-index:5;
        h3{
            font-size:1.7rem;
            color:#DFE8FF;
        }

        svg{
            margin:0 1rem 0 1rem;
        }

        &::after{
            content:"";
            width:0%;
            height:5px;
            position:absolute;
            bottom:0;
            transform-origin:left;
            background-color:var(--dark1);
            transition:width .3s ease-in;
            z-index:-2;
            border-radius:8px;
        }

        &:hover::after{
            width:55%;

        }
        

    }
}

@media screen and (max-width:44.75em) {
    .sidebar-item{
        width:100%;
        height:3.5rem;
        position:relative;
        background-color:transparent;
        display:flex;
        align-items:center;

        margin:0 0 1rem 0;
        padding:0 0 0 .5rem;
        overflow:hidden;
        z-index:5;
        h3{
            font-size:1.5rem;
            color:#DFE8FF;
        }

        svg{
            margin:0 1rem 0 1rem;
        }

        &::after{
            content:"";
            width:0%;
            height:5px;
            position:absolute;
            bottom:0;
            transform-origin:left;
            background-color:var(--dark1);
            transition:width .3s ease-in;
            z-index:-2;
            border-radius:8px;
        }

        &:hover::after{
            width:95%;

        }
        

    }
}
@media screen and (max-width:41.25em) {
    .sidebar-item{
        width:100%;
        height:3.5rem;
        position:relative;
        background-color:transparent;
        display:flex;
        align-items:center;

        margin:0 0 1rem 0;
        padding:0 0 0 .5rem;
        overflow:hidden;
        z-index:5;
        h3{
            font-size:1.45rem;
            color:#DFE8FF;
        }

        svg{
            margin:0 1rem 0 1rem;
        }

        &::after{
            content:"";
            width:0%;
            height:5px;
            position:absolute;
            bottom:0;
            transform-origin:left;
            background-color:var(--dark1);
            transition:width .3s ease-in;
            z-index:-2;
            border-radius:8px;
        }

        &:hover::after{
            width:95%;

        }
        

    }
}

@media screen and (max-width:33.75em) {
    .sidebar-item{
        width:100%;
        height:3.5rem;
        position:relative;
        background-color:transparent;
        display:flex;
        align-items:center;

        margin:0 0 1rem 0;
        padding:0 0 0 .5rem;
        overflow:hidden;
        z-index:5;
        h3{
            font-size:1.45rem;
            color:#DFE8FF;
        }

        svg{
            margin:0 1rem 0 1rem;
        }

        &::after{
            content:"";
            width:0%;
            height:3px;
            position:absolute;
            bottom:0;
            transform-origin:left;
            background-color:var(--dark1);
            transition:width .2s ease-in .1s;
            z-index:-2;
            border-radius:8px;
            -webkit-transition:width .2s ease-in .1s;
            -moz-transition:width .2s ease-in .1s;
            -ms-transition:width .2s ease-in .1s;
            -o-transition:width .2s ease-in .1s;
        }

        &:hover::after{
            width:45%;

        }
        

    }
}