.playing-now{
    width:100vw;
    height:100vh;
    overflow:hidden;

    $maximumWidth:50vw;
    $largeWidth:50;
    $bigWidth:50vw;
    $mediumWidth:50vw;
    $smallWidth:50vw;
    $minimumWidth:50vw;
    &__header{
        width:100%;
        height:5vh;
        display:flex;
        align-items: center;
        margin-bottom:1rem;
        &--title{
            text-align:center;
            margin: 0 auto;
            font-size:clamp(1rem,calc(2vw + 1rem),3rem);
        }

        &--btn{
            cursor: pointer;
                // position: absolute;
                // top:0px;
                // left:0px;
                margin-left: 2rem;
                width: 3rem;
                height: 3rem;
            background-color:transparent;
            border:none;
            outline:none;
            &:focus{
                outline:none;
            }

            svg{
                width: 100%;
                height: 100%;
            }
        
        }
    }

    &__content{
        
        width: 100%;
        height:94.5vh;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        gap:3rem;
        &--cards-container{
            position:relative;

            flex:.73;
            display:flex;
            background-color:transparent;

            padding-left:50%;

            

            

            
        }

        .row{
                position:relative;
                width:100vw;
                // background-color:gold;
        }


        
        .container{
            width:60vw;


            
            overflow:hidden;
            // background-color:transparent;
            border-radius:30px;
            position:absolute;


                
        }
    }

}


