.playing-now{
    width:100%;
    height:100vh;
    &__header{
        // position: relative;
        width:100%;
        height:5vh;
        display:flex;
        // flex-direction:column;
        align-items: center;
        &--title{
            text-align:center;
            margin: 0 auto;
            font-size:clamp(1rem,calc(2vw + 1rem),3rem);
        }

        &--btn{
            cursor: pointer;
                // position: absolute;
                // top:0px;
                // left:0px;
                margin-left: 2rem;
                width: 3rem;
                height: 3rem;
            background-color:transparent;
            border:none;
            outline:none;
            &:focus{
                outline:none;
            }

            svg{
                width: 100%;
                height: 100%;
            }
        
        }
    }

    &__content{
        width: 100%;
        height:94.5vh;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        gap:3rem;
        &--cards-container{
            flex:.73;
            display:flex;
            // gap:10rem;
            background-color:transparent;
            // height:62vh;
            // padding: 0 0 0 3rem;


            .slider-card{
                pointer-events: auto;
                background-color:gold;
                height:100%;
                // width:280rem !important;

                    cursor:grab;
                    // width:100%;
                    // background-color:transparent;
                    text-align:center;
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    &__img-container{
                        // pointer-events:all;
                        cursor:pointer;
                        position: relative;
                        // left:50%;

                        // width: 100%;
                        // height:80%;
                        // background-color:deeppink;

                        &--img-1{
                            left:50%;
                            top:50%;
                            transform:translate(-50%,-50%);
                            height:100%;
                            // user-select:none;
                            // -moz-user-select:none;
                            // -webkit-user-select:none;
                            // -ms-user-select:none;
                            // -webkit-touch-callout:none;
                            // cursor: pointer;
                            position: relative;
                            z-index: 5;
                            // pointer-events: none;
                            object-fit:cover;
                            // width:80vw;
                            // height:80vw;
                            // height:100%;
                            border-radius:10px;
                        }

                        &--img-2{
                            //user-select:none;
                            //-moz-user-select:none;
                            //-webkit-user-select:none;
                            //-ms-user-select:none;
                            //-webkit-touch-callout:none;
                            pointer-events: none;
                            position: absolute;
                            top: 5%;
                            left:-5%;
                            transform:rotateZ(180deg) scale(1.05) translate(-50%,-50%);
                            object-fit:cover;
                            height:60%;
                            width:60%;
                            //width:80vw;
                            //height:80vw;
                            filter: blur(26px);
                            z-index: 1;
                            -webkit-filter: blur(26px);
   }
                    }

                    &__title{
                        text-align:center;

                        // -webkit-touch-callout: none;
                        //   -webkit-user-select: none;
                        //    -khtml-user-select: none;
                        //      -moz-user-select: none;
                        //       -ms-user-select: none;
                        //           user-select: none;    
                        }


                    &__name{
                        text-align:center;
                        // -webkit-touch-callout: none;
                        //   -webkit-user-select: none;
                        //    -khtml-user-select: none;
                        //      -moz-user-select: none;
                        //       -ms-user-select: none;
                        //           user-select: none;  
                    }
            }
        }
    }





    
}




.slider{
    // 

    // padding:2rem 0;
    // background:gold;
    cursor:grab;
    overflow:hidden;
    position:relative;
    // overflow-x:scroll;

    &__inner{
        // pointer-events:none;
        // width:100vw;
        display:flex;
        // background:lightgreen;
            // overflow-x:scroll;
            overflow:hidden;
            
    }
}


.slider__inner::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: var(--light);
            border-radius: 1rem;
            padding: 6px;
            
        }

.slider__inner::-webkit-scrollbar-thumb {
            background-color: var(--dark1);    /* color of the scroll thumb */
 border-radius: 1rem;/* roundness of the scroll thumb */
  border: 1px solid var(--dark);  /* creates padding around scroll thumb */

}
.slider__inner::-webkit-scrollbar-track {
            // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
            // background: g; 
}


@media screen and (max-width:540px){
    .slider__inner::-webkit-scrollbar {
        display:none;
            width: 8px;
            height: 8px;
            background-color: var(--light);
            border-radius: 1rem;
            padding: 6px;
            
        }

.slider__inner::-webkit-scrollbar-thumb {
            background-color: var(--darker);    /* color of the scroll thumb */
 border-radius: 1rem;/* roundness of the scroll thumb */
  border: 1px solid var(--darker);  /* creates padding around scroll thumb */

}
.slider__inner::-webkit-scrollbar-track {
            // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
            // background: g; 
}
} 