.home{
     background-color: var(--darker);
    &__header{
        width:100%;
        display:flex;
        align-items:center;
        height: 5.5vh;
        // background-color:gold;
        padding:0 2rem;
        
    }

    &__menu{
        flex:.25;
        justify-self: start;
        align-self: center;
        z-index: 11;
        &--icon{
            width: 2.5rem;
            height: 2.5rem;
            fill: #fff;
        }

        &--btn{
            display:none;
            background-color:transparent;
            outline:none;
            border:none;
            &:focus{
                outline:none;
            }
        }
    }

    &__content{
        display:flex;
        // flex-direction:column;
        justify-content: space-between;
        height:94.5vh;
        &--right{
            position:relative;
            flex:.8;
            display:flex;
            flex-direction:column;
            gap:2rem;

            height:100%;
        
            padding-left:1rem;
            overflow-y:scroll;

            scrollbar-width: thin;
            scrollbar-color: blue orange;



        }

        &--left{
            flex:.2;
            height:100%;
        }
    }
}


.home__content--right::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: var(--light);
            border-radius: 1rem;
            padding: 6px;
            
        }

.home__content--right::-webkit-scrollbar-thumb {
            background-color: var(--dark1);    /* color of the scroll thumb */
 border-radius: 1rem;/* roundness of the scroll thumb */
  border: 1px solid var(--dark);  /* creates padding around scroll thumb */

}

.home__content--right::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
            // background: g; 
}

@media screen and (max-width:40.625em){
    .home{
     background-color: var(--darker);
    &__header{
        width:100%;
        display:flex;
        align-items:center;
        height: 5.5vh;
        // background-color:gold;
        padding:0 2rem;
        
    }

    &__menu{
        flex:.25;
        justify-self: start;
        align-self: center;
        z-index: 11;
        &--icon{
            width: 2.5rem;
            height: 2.5rem;
            fill: #fff;
        }

        &--btn{
            display:block;
        }
    }

    &__content{
        display:flex;
        // flex-direction:column;
        justify-content: space-between;
        height:94.5vh;
        &--right{
            flex:.8;
            display:flex;
            flex-direction:column;
            gap:2rem;

            height:100%;
        
            padding-left:1rem;
            overflow-y:scroll;

            scrollbar-width: thin;
            scrollbar-color: blue orange;



        }

        &--left{
            flex:.2;
            height:100%;
        }
    }
}

} 