.search {
    flex:.75;  
      // width:60vw;
    // grid-column: 2/span 1;
    // justify-self: end;
    // align-self: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;

    &__input{
        justify-self: end;
        border-radius: 6px;
        z-index: -3;
        border: none;
        width:0%;
        opacity:0;
        padding: 4px 8px;
        z-index: 10;
        font-size:1.3rem;
        transition:width .3s linear;
        // background-color:#091127;
    }

    &__btn{
        cursor:pointer;
        width:2.1rem;
        height:2.1rem;
        z-index: 10;
        position: absolute;
        top: 15%;
        right: 2%;
        background-color:transparent;
        border:none;
        &--icon {
            width: 100%;
            height: 100%;
            // fill: var(--dark);
        }
        &--icon-2 {
            fill:gold;
            width: 100%;
            height: 100%;
        }

        z-index:10;
    }


}
// .search

// #search-input {
  
// }

// .search 