.playlist{
    flex:0.5;
    width:100%;
    &__header{
        margin-bottom:1.5rem;
        font-size:2rem;
    }
    &__cards{
                display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,.5fr));
        grid-template-rows:repeat(auto-fit, minmax(250px,.5fr));
    }
}