.playing-now-player{
    padding: 1.5rem;
    display: flex;
    flex-direction:column;
    gap: 1.5rem;
    // flex:.25;
    height:28.5vh;

    svg{
        width: 2.6rem;
        height: 2.6rem;
    }
    &__btns-1{
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:3rem;

        &--left{
            display: flex;
            
            gap: 1rem;
    
        }

        .btns{
            width:10vw;
            position:absolute;
            left:50%;
            transform:translateX(-50%);
            display:flex;
        justify-content:space-between;


            button{
                background:transparent;
                width:3vw;
            }

            .right{
                svg{
                    transform:rotate(180deg);
                }
            }
            
        }
    }
    &__btns-2{
        display:flex;
        align-self:center;
        justify-content:space-between;
        gap:3rem;
    }


    .progress-container{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .progress-timestamps{
        display: flex;
        justify-content: space-between;
        width: 99%;
        &:nth-child(1){
            justify-self: flex-start;
        }
        &:nth-child(2){
            justify-self: flex-end;
        }
        
    }

    &__progress{
        background-color: blue;
        // justify-self: flex-start;
        width: 100%;
        height: 5px;
        z-index: 1;
        border-radius: 1rem;
        padding: 0;
        position: relative;
        &--bar{
            position: absolute;
            top:50%;
            transform: translateY(-45%);
            margin-left: 0;
            border-radius: 1rem;
            background-color: rgba(255, 255, 255, 0.7);
            width:50%;
            height: 100%;
            z-index: 5;
            position: relative;
            -webkit-transform: translateY(-45%);
            -moz-transform: translateY(-45%);
            -ms-transform: translateY(-45%);
            -o-transform: translateY(-45%);
            &::after{
                content: "";
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translateY(-50%) translateX(-5px);
                background-color: inherit;
                filter:brightness(2.6);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                -webkit-filter:brightness(2.6);
                -webkit-transform: translateY(-50%) translateX(-5px);
                -moz-transform: translateY(-50%) translateX(-5px);
                -ms-transform: translateY(-50%) translateX(-5px);
                -o-transform: translateY(-50%) translateX(-5px);
            }
        }
    }

    .repeat-btn{
        position:relative;
        span{
            position:absolute;
            color:var(--text-w-l);
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            -webkit-transform:translate(-50%,-50%);
            -moz-transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);
            -o-transform:translate(-50%,-50%);
}
    }


    button{
        cursor:pointer;
    background-color:transparent;
    outline:none;
    border:none;
        &:focus{
            outline:none;
        }
    }
}

@media screen and (max-width:17.5em) {
    .playing-now-player{
        svg{
            width:1.6rem;
            height:1.6rem;
        }

        .repeat-btn{
            span{
                font-size: .8rem;
            }
        }
    }
}
@media screen and (max-width:22.5em) {
    .playing-now-player{
        svg{
            width:1.9rem;
            height:1.9rem;
        }

        .repeat-btn{
            span{
                font-size: 1rem;
            }
        }
    }
}