.overlay{
    // display: f;
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    height: 100vh;
    width: 100vw;
    z-index:1400;
//      --dark1:#1F1D36;
//   --dark2:hsla(220, 65%, 9%, 0.31);
//   --dark:#091227;
//   --darker:#091127;



  
//   --lighter:#EAF0FF;
//   --light2:hsla(227, 47%, 96%, 0.542);
//   --light:#F7FAFF;
}