/* @import url(); !important */
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  line-height: calc(1em + 0.5rem);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark1:#1F1D36;
  --dark:#091227;
  --darker:#091127;
  --lighter:#EAF0FF;
  --light:#F7FAFF;
  --light2-d:rgba(247, 250, 255,0.69);
  --light2-l:#b4b9c4;
  --text-w-l:#8996B8;
  --text-w-d:#A5C0FF;
  width:100vw;
 
  color: #fff;
}
button:focus,input:focus {
  outline: none;
}

button{
  background-color:transparent;
  outline:none;
  border:none;
  &:focus{
    outline:none;
  }
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

html,body{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img,svg,video{
  display: block;
  max-width: 100%;
}

input,button,textarea,select{
  font-size: 1rem;
}

p,h1,h2,h3,h4,h5,h6{
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}