.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 50%));
  grid-template-rows: max-content;
}

.cards__container::-webkit-scrollbar {
  width: 80%;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 2px;
}

.cards__container::-webkit-scrollbar-thumb {
  background-color: #729fed;
  border-radius: 1rem;
}

.cards__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mg-rt {
  margin-right: 2rem;
}

.dim-text {
  color: rgba(255, 255, 255, 0.5);
}

.icon-white {
  fill: #fff;
}

.icon-white-2 {
  fill: rgba(255, 255, 255, 0.5);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icon-size-1 {
  width: 2rem;
  height: 2rem;
}

.icon-music-controls {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-size-2 {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-size-3 {
  width: 4rem;
  height: 4rem;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

@keyframes rotateEver {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes growNshrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.65);
  }
}
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 55.5%;
}

html,
body {
  height: 100%;
}

svg, img, video {
  max-width: 100%;
  display: block;
}

input, button {
  font-size: 1.35rem;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html {
  font-size: 53.5%;
  font-family: "Karla", sans-serif;
}

.body {
  background-color: #1F1D36;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.wrapper-main {
  color: #fff;
  position: relative;
  padding: 12px;
  height: 95%;
  background-color: #1F1D36;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.wrapper-main.show-nav {
  transform: translateX(45%);
  padding-left: 10px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wrapper-homepage {
  height: 85%;
}

.playingNow-wrapper {
  background-color: transparent;
  padding: 10px;
  width: 90%;
  height: 100%;
  background-color: #1F1D36;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.music-main__content {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.playingNow__header {
  position: relative;
  height: 10%;
  margin-bottom: 3rem;
}
.playingNow__header #playing__close {
  position: absolute;
  left: -78px;
  transform: translateX(50%);
}
.playingNow__header--title {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.music__player-2 {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.music__player-2__img {
  width: 90%;
  object-fit: cover;
  border-radius: 1rem;
}
.music__player-2__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.music-title {
  text-align: center;
  color: #fff;
}

.music__artist-name {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.icon-1 {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
  fill: rgba(255, 255, 255, 0.5);
}

.icon-2 {
  height: 3.5rem;
  width: 3.5rem;
}

.icon-like {
  height: 1.5rem;
  width: 1.5rem;
  fill: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -180%;
  right: 5px;
}

.music-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: center;
}

.music__timestamps {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.music-details__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.music-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 6px;
  width: 100%;
  border-radius: 1rem;
  margin: 2rem 0;
}

.music-bar {
  margin: 0 2px;
  height: 4px;
  background-color: #fff;
  width: 5%;
  border-radius: 1rem;
  position: relative;
}

.music-bar::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #fff;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.music-player-2__btns {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin-left: -11rem;
  width: 100%;
}

.wrapper-homepage {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.nav {
  background-color: transparent;
  z-index: 200;
  color: rgba(255, 255, 255, 0.7);
  height: 100%;
  font-size: 16px;
  transform: translateX(-120%);
  transition: all 0.4s ease;
  padding: 4px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content min-content 1fr;
}
.nav__items {
  margin-bottom: 4rem;
  align-self: end;
  grid-template-rows: repeat(auto-fit, max-content);
  grid-template-columns: 1fr;
}
.nav__item {
  list-style: none;
  padding: 10px;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: min-content max-content;
  grid-template-rows: max-content;
}
.nav__item:hover {
  border-bottom: 2px solid #729fed;
}
.nav__links {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dim-white);
}
.nav__links svg {
  margin-right: 5px;
  flex-shrink: 0;
}
.nav__links p {
  text-align: start;
}
.nav__links:hover {
  color: rgba(255, 255, 255, 0.7);
}
.nav__links:hover {
  color: rgba(255, 255, 255, 0.7);
}
.nav__links:hover .link__icon {
  fill: rgba(255, 255, 255, 0.7);
}
.nav__user {
  align-self: center;
  justify-self: center;
  width: 7rem;
  height: 7rem;
  margin-top: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.nav .buttons {
  align-self: center;
  justify-self: start;
  display: flex;
  justify-content: space-between;
}
.nav .buttons .btn-1 {
  align-self: start;
}
.nav .buttons .btn-2 {
  align-self: end;
  margin-left: 4rem;
}

#menu__close:active {
  transform: scale(0.95);
  fill: blueviolet;
}

.settings__icon {
  animation: rotateEver 0.4s 0.2s infinite alternate;
}

.liked-songs:hover .liked-songs__icon,
.liked-songs:link .liked-songs__icon,
.liked-songs:active .liked-songs__icon {
  animation: growNshrink 0.3s 0.2s infinite alternate;
}

.content {
  display: flex;
  flex-direction: column;
  height: 87%;
}
.content__header {
  margin-bottom: 1rem;
}

button:focus {
  outline: none;
}

.header__topbar {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content;
  height: 10%;
}

.menu {
  grid-column: 1/span 1;
  justify-self: start;
  align-self: center;
  z-index: 11;
}
.menu__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.search {
  grid-column: 2/span 1;
  justify-self: end;
  align-self: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
}
.search__icon {
  position: absolute;
  top: 15%;
  right: 8%;
  width: 2rem;
  height: 2rem;
  fill: #1F1D36;
  z-index: 10;
}

#search-input {
  justify-self: end;
  border-radius: 6px;
  z-index: -3;
  border: none;
  height: 2.5rem;
  width: 20rem;
  padding: 4px 8px;
  z-index: 10;
}

.search label {
  width: 10px;
  height: 10px;
}

.recommended__cards {
  overflow: scroll;
}

.recommended__card--img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 1rem;
}

.recommended {
  display: flex;
  flex-direction: column;
  height: 42%;
}

.playlist {
  display: flex;
  flex-direction: column;
  height: 46%;
}

.playlist__cards {
  overflow: scroll;
}

.playlist__card--img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
}

.pag-btn {
  color: #1F1D36;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.pagination {
  justify-self: flex-start;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.music-player {
  height: 10%;
  width: 95%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: -8%;
}
.music-player button {
  background-color: transparent;
  border: none;
}
.music-player__content {
  display: grid;
  grid-template-columns: max-content minmax(min-content, max-content);
  grid-template-rows: max-content;
  font-size: 9px;
  text-overflow: ellipsis;
}
.music-player__content-img {
  align-self: flex-start;
  height: 5rem;
  width: 5rem;
  margin-top: -1.35rem;
  margin-right: 1rem;
  object-fit: cover;
}
.music-player__content--details {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: repeat(auto-fit, min-content);
  margin-top: -1rem;
  text-overflow: ellipsis;
  place-items: center;
}
.music-player__content--title {
  text-overflow: ellipsis;
}
.music-player__content--artist-name {
  overflow-wrap: ellipsis;
}
.music-player .progress {
  justify-self: flex-start;
  height: 6px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  z-index: 1;
  margin-bottom: 1px;
  border-radius: 1rem;
  padding: 0 4px;
}
.music-player .progress-bar {
  transform: translateY(12%);
  margin-left: -5px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  width: 0%;
  height: 5.5px;
  z-index: 5;
  position: relative;
}
.music-player .progress-bar::after {
  content: "";
  position: absolute;
  left: 96%;
  top: 0;
  transform: translateY(-25%);
  background-color: #fff;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}
.music-player__control {
  margin-top: -1rem;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.main-controls {
  margin-top: 1.2rem;
  display: grid;
  text-align: center;
  grid-template-rows: max-content;
  grid-template-columns: 1.8fr 1fr;
  grid-auto-flow: row;
}

.music-btn__backward:active,
.music-btn__forward:active,
.music-btn__play:active {
  transform: translateY(4px) scale(1.25);
}

@media (min-width: 34.375em) {
  body {
    margin: 0 auto;
  }

  .nav {
    transform: translateX(-400%);
    height: 100%;
  }

  .wrapper-main {
    justify-content: center;
  }

  .wrapper-main.show-nav {
    transform: translateX(45%);
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 95%;
    flex: 0 1 800px;
  }
  .content__header {
    margin-bottom: 1rem;
  }

  .cards__container {
    display: grid;
    grid-template-columns: repeat(5, minmax(10%, 20%));
    grid-template-rows: minmax(250px, 400px);
  }

  .cards__container::-webkit-scrollbar {
    display: none;
  }

  .cards__container::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: #1F1D36;
    border: 0.005px solid #729fed;
    border-radius: 1rem;
  }

  .cards__container::-webkit-scrollbar-track {
    width: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .music-player {
    width: 100%;
  }
  .music-player__content-img {
    width: 10rem;
  }
  .music-player__content--details {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .music-player__control svg {
    width: 4rem;
    height: 4rem;
  }

  .recommended {
    height: 40%;
  }

  .playlist {
    height: 65%;
  }
}

/*# sourceMappingURL=style.css.map */
